<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundleDisplayName</key>
    <string>PhotoDuck</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIAppFonts</key>
    <array>
        <string>BricolageGrotesque-SemiBold.ttf</string>
        <string>Manrope-Regular.ttf</string>
        <string>Manrope-Medium.ttf</string>
        <string>Manrope-SemiBold.ttf</string>
        <string>Manrope-Bold.ttf</string>
    </array>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>PhotoDuck needs photo access to find similar images and let you review cleanup choices on your device.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>PhotoDuck needs permission to save compressed copies to your photo library.</string>
    <key>NSContactsUsageDescription</key>
    <string>PhotoDuck needs contacts access to find and merge duplicate entries you approve.</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
</dict>
</plist>
